<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>

<body>
    <h1>This is the home page 4*3</h1>
    <h3> <%= 4*3 %> </h3>
    <h3><%= "ankit singh".toUpperCase()%></h3>
    <h3><%= ["ankit"]%></h3>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod corporis aliquam dicta tenetur suscipit
        doloremque rerum voluptatibus illo autem repudiandae, ab tempore doloribus? Dolor, ipsum corrupti ipsam
        praesentium velit rerum?
    </p>
    <button>Click Me!</button>
</body>

</html>